/*
* @Author: Brian Cubero
* @Date:   2017-10-27 17:45:14
* @Last Modified by:   Brian Cubero
* @Last Modified time: 2017-10-27 17:45:28
*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
